<div class="requirements" *ngFor="let requirement of failedRequirements">
  <ng-container [ngSwitch]="requirement">
    <ng-container *ngSwitchCase="'ownTile'">
      Must be on owned tile.
    </ng-container>

    <ng-container *ngSwitchCase="'notForeignTile'">
      Cannot be build on someone else's land.
    </ng-container>

    <ng-container *ngSwitchCase="'sameImprovement'">
      Already built.
    </ng-container>

    <ng-container *ngSwitchCase="'noRoad'">
      Already built.
    </ng-container>

    <ng-container *ngSwitchCase="'improvementPossible'">
      Cannot be built here.
    </ng-container>

    <ng-container *ngSwitchCase="'publicWorks'">
      Not enough public work points.
    </ng-container>
  </ng-container>
</div>

<div class="public-works-color" *ngIf="publicWorksRequired">
  Will consume {{ publicWorksRequired }} public works points.
</div>

<div class="public-works-color" *ngIf="publicWorksPerTurn">
  Costs per turn: {{ publicWorksPerTurn }} public works points.
</div>

<div *ngIf="action === 'foundCity'">
  Will consume the unit
</div>
