:host {
  .option {
    cursor: pointer;
    padding: 3px 10px;
    &:not(.selected):hover {
      background-color: grey;
    }
    &.selected {
      background-color: var(--secondary-color);
    }
  }
}
