:host {
  display: flex;
  flex-direction: column;
  .tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    .tab {
      text-align: center;
      padding: 10px 30px;
      cursor: pointer;
      border-bottom: 3px solid var(--secondary-color);
      &:hover {
        border-color: transparentize(#48b7f4, 0.6);
      }
      &.active {
        border-color: #48b7f4;
      }
    }
  }
}
