.tabContent {
  display: block;
  overflow-y: auto;
}
.tabContent:not(.no-padding) {
  padding: 0 20px;
}
.tabs {
  display: flex;
  flex-direction: column;
}
.grow-tabs .tabs .tab {
  padding: 10px;
  flex: 1;
}
.tabHeaders {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.tabHeader {
  text-align: center;
  padding: 10px 30px;
  cursor: pointer;
  border-bottom: 3px solid var(--color-secondary-1-4);
}
.tabHeader:hover {
  border-color: var(--color-secondary-1-2);
}
.tabHeader.active {
  border-color: var(--color-secondary-1-0);
}
