<div
  class="info"
  (click)="selectCity()"
  (click)="game.controls.onClick($event)"
  (mousedown)="game.controls.onMouseDown($event)"
  (mouseup)="game.controls.onMouseUp($event)"
  (mousemove)="game.controls.onMouseMove($event)"
  (wheel)="game.controls.onWheel($event)"
  (contextmenu)="onContextMenu($event)"
>
  <div class="size">{{ city.size }}</div>
  <div>
    <div class="growth bar">
      <div
        class="progress next"
        *ngIf="city.perTurn.food >= 0"
        [style.width.%]="nextGrowthPercent"
      ></div>

      <div class="progress" [style.width.%]="growthPercent"></div>

      <div
        class="progress negative"
        *ngIf="city.perTurn.food < 0"
        [style.width.%]="-perTurnFoodPercent"
        [style.left.%]="growthPercent + perTurnFoodPercent"
      ></div>

      <span class="value"> {{ city.name }} </span>
      <span class="turns">({{ city.turnsToGrow | turns }})</span>
    </div>
    <div class="production bar">
      <ng-container *ngIf="city.inProduction">
        <div
          class="progress next"
          [style.width.%]="nextProductionPercent"
        ></div>
        <div class="progress" [style.width.%]="productionPercent"></div>
        <span class="value">
          {{ city.inProduction.name }}
        </span>
        <span class="turns">({{ city.turnsToProductionEnd | turns }})</span>
      </ng-container>
    </div>
  </div>
</div>
