<div
  class="info"
  (click)="selectCity()"
  (click)="game.controls.onClick($event)"
  (mousedown)="game.controls.onMouseDown($event)"
  (mouseup)="game.controls.onMouseUp($event)"
  (mousemove)="game.controls.onMouseMove($event)"
  (wheel)="game.controls.onWheel($event)"
  (contextmenu)="onContextMenu($event)"
>
  <div class="size">{{ city.size }}</div>
  <div>
    <app-progress-bar
      class="growth"
      [progress]="city.totalFood"
      [nextProgress]="city.totalFood + city.perTurn.food"
      [total]="city.foodToGrow"
    >
      <span> {{ city.name }} </span>
      <span class="turns">({{ city.turnsToGrow | turns }})</span>
    </app-progress-bar>

    <app-progress-bar
      class="production"
      [progress]="city.totalProduction"
      [nextProgress]="city.totalProduction + city.perTurn.production"
      [total]="city.currentProduct?.productDefinition.productionCost || 0"
    >
      <span>
        {{ city.currentProduct?.productDefinition.name }}
      </span>
      <span class="turns">({{ city.turnsToProductionEnd | turns }})</span>
    </app-progress-bar>
  </div>
</div>
