<app-tabs>
  <app-tab #tileTab tabTitle="Tile"
    ><app-tile-editor [isVisible$]="tileTab.isVisible$"></app-tile-editor
  ></app-tab>
  <app-tab #tilePaintingTab tabTitle="Tile painting"
    ><app-tile-painting
      [isVisible$]="tilePaintingTab.isVisible$"
    ></app-tile-painting
  ></app-tab>
  <app-tab #unitTab tabTitle="units">
    <app-unit-editor [isVisible$]="unitTab.isVisible$"></app-unit-editor>
  </app-tab>
  <app-tab #cityTab tabTitle="cities">
    <app-city-editor [isVisible$]="cityTab.isVisible$"></app-city-editor>
  </app-tab>
</app-tabs>

<div>
  <button (click)="close()">Close</button>
</div>
