<app-tabs>
  <app-tab #tileTab tabTitle="Tile"
    ><app-tile-editor [isVisible$]="tileTab.isVisible$"></app-tile-editor
  ></app-tab>
  <app-tab #tilePainterTab tabTitle="Tile painter"
    ><app-tile-painter
      [isVisible$]="tilePainterTab.isVisible$"
    ></app-tile-painter
  ></app-tab>
  <app-tab #unitPainterTab tabTitle="Units painter">
    <app-unit-painter
      [isVisible$]="unitPainterTab.isVisible$"
    ></app-unit-painter>
  </app-tab>
  <app-tab #cityTab tabTitle="Cities">
    <app-city-editor [isVisible$]="cityTab.isVisible$"></app-city-editor>
  </app-tab>
  <app-tab #playersTab tabTitle="Players">
    <app-players-editor></app-players-editor>
  </app-tab>
</app-tabs>

<div>
  <button (click)="close()">Close</button>
</div>
