<div class="panel panel-bottom-right-corner left">
  <div class="size-and-growth margin">
    <span class="size">{{ city.size }}</span>

    <app-progress-bar
      class="growth-bar"
      [progress]="city.totalFood"
      [nextProgress]="city.totalFood + city.perTurn.food"
      [total]="city.foodToGrow"
    >
      <span class="turns" *ngIf="city.perTurn.food > 0"
        >will grow in {{ city.turnsToGrow | turns }} turns</span
      >
      <span class="turns" *ngIf="city.perTurn.food < 0"
        >will shrink in {{ -city.turnsToGrow | turns }} turns</span
      >
      <span class="turns" *ngIf="city.perTurn.food === 0">growth stalled</span>
    </app-progress-bar>
  </div>

  <h3>Yields</h3>

  <div class="margin-h">
    <div class="yield growth-color">
      <div class="label">Food</div>
      <div class="value">
        {{ city.yields.food }} - {{ city.foodConsumed }} =
        {{ city.perTurn.food }}
      </div>
    </div>
    <div class="yield production-color">
      <div class="label">Production</div>
      <div class="value">{{ city.perTurn.production }}</div>
    </div>
    <div class="yield culture-color">
      <div class="label">Culture</div>
      <div class="value">{{ city.perTurn.culture }}</div>
    </div>
    <div class="yield public-works-color">
      <div class="label">Public works</div>
      <div class="value">{{ city.perTurn.publicWorks }}</div>
    </div>
  </div>

  <button class="margin-h margin-top" (click)="optimizeYields()">
    Optimize yields
  </button>

  <div class="separator"></div>

  <h3>Expansion</h3>

  <app-progress-bar
    class="culture-bar margin"
    [progress]="city.totalCulture"
    [nextProgress]="city.totalCulture + city.perTurn.culture"
    [total]="city.cultureToExpand"
  >
    <span class="turns">
      borders will expand in {{ city.turnsToExpand | turns }} turns
    </span>
  </app-progress-bar>

  <div class="separator"></div>

  <h3>Production</h3>

  <app-progress-bar
    class="production-bar margin"
    *ngIf="city.product"
    [appTooltip]="buildingTooltipTmpl"
    [tooltipContext]="{ building: city.product.productDefinition }"
    [progress]="city.totalProduction"
    [nextProgress]="city.totalProduction + city.perTurn.production"
    [total]="city.product?.productDefinition.productionCost"
  >
    <div>
      <span class="name">
        {{ city.product?.productDefinition.name || "-" }}
      </span>
      <span class="turns" *ngIf="city.product">
        {{ city.turnsToProductionEnd | turns }} turns
      </span>
    </div>
  </app-progress-bar>

  <app-tabs class="grow-tabs">
    <app-tab class="no-padding" tabTitle="recruit">
      <div
        class="product"
        *ngFor="let unit of city.availableUnits"
        [class.disabled]="city.disabledUnits.has(unit)"
        [appTooltip]="unitTooltipTmpl"
        [tooltipContext]="{ unit: unit }"
        (click)="produceUnit(unit)"
      >
        <span class="name">
          {{ unit.name }}
        </span>
        <span class="turns small">
          {{ city.getTurnsToProduce(unit) }} turns
        </span>
      </div>
    </app-tab>

    <app-tab class="no-padding" tabTitle="construct">
      <div
        class="product"
        *ngFor="let building of city.availableBuildings"
        [class.disabled]="city.disabledBuildings.has(building)"
        [appTooltip]="buildingTooltipTmpl"
        [tooltipContext]="{ building: building }"
        (click)="produceBuilding(building)"
      >
        <span class="name">
          {{ building.name }}
        </span>
        <span class="turns small">
          {{ city.getTurnsToProduce(building) }} turns
        </span>
      </div>
    </app-tab>

    <app-tab class="no-padding" tabTitle="work on">
      <div
        class="product"
        *ngFor="let idleProduct of city.availableIdleProducts"
        [appTooltip]="idleProductTooltipTmpl"
        [tooltipContext]="{ idleProduct: idleProduct }"
        (click)="workOnIdleProduct(idleProduct)"
      >
        {{ idleProduct.name }}
      </div>
    </app-tab>
  </app-tabs>
</div>

<div class="city-name">
  <h2 class="panel">{{ city.name }}</h2>
  <button class="btn-primary" (click)="quit()">Return</button>
</div>

<div class="panel panel-bottom-left-corner right">
  <h3 class="margin">Buildings</h3>

  <div
    class="building"
    *ngFor="let building of city.buildings"
    [appTooltip]="buildingTooltipTmpl"
    [tooltipContext]="{ building: building }"
  >
    {{ building.name }}
  </div>
</div>

<app-work-tiles
  #workTiles
  [city]="city"
  [workedTiles]="city.workedTiles"
></app-work-tiles>

<ng-template #buildingTooltipTmpl let-building="building">
  <b>{{ building.name }}</b>
  <app-product-requirements
    [product]="building"
    [city]="city"
  ></app-product-requirements>
  <app-bonuses [bonuses]="building.bonuses"></app-bonuses>
  <div>Cost: {{ building.productionCost }}</div>
</ng-template>

<ng-template #unitTooltipTmpl let-unit="unit">
  <b>{{ unit.name }}</b>
  <app-product-requirements
    [product]="unit"
    [city]="city"
  ></app-product-requirements>
  <div>Cost: {{ unit.productionCost }}</div>
</ng-template>

<ng-template #idleProductTooltipTmpl let-idleProduct="idleProduct">
  <b>{{ idleProduct.name }}</b>
  <app-bonuses [bonuses]="idleProduct.bonuses"></app-bonuses>
</ng-template>
