:host {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "left city-name city-name city-name right";
  > div {
    pointer-events: all;
  }

  .panel {
    --margin: 15px;
    justify-self: flex-start;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 300px;
    h3 {
      margin: 0;
    }
    .margin {
      margin: var(--margin);
    }
    .margin-h {
      margin: 0 var(--margin);
    }
    .margin-top {
      margin-top: var(--margin);
    }
    .separator {
      height: 3px;
      background-color: var(--color-primary-4);
      margin: 15px 0;
    }
  }

  .left {
    grid-area: left;
    app-progress-bar {
      min-height: 30px;
      height: 30px;
      flex: 1;
      &.growth-bar {
        --progress-bar-color: var(--growth-color);
      }
      &.production-bar {
        --progress-bar-color: var(--production-color);
      }
      &.culture-bar {
        --progress-bar-color: var(--culture-color);
      }
    }
    .size-and-growth {
      display: flex;
      align-items: center;
      .size {
        font-size: 35px;
        margin-right: 15px;
      }
    }

    .yield {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      &:not(:last-child) {
        border-bottom: 1px solid var(--color-primary-3);
      }
      .label {
        font-weight: bold;
        margin-right: 15px;
      }
    }

    .progress-bar-content {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .product-name-and-icon {
      display: flex;
      align-items: center;
      app-icon {
        margin-right: 8px;
      }
    }

    .product {
      padding: 5px 15px;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid var(--color-primary-3);
      &:not(.disabled) {
        cursor: pointer;
        &:hover {
          background-color: var(--color-primary-3);
        }
      }
      &.disabled {
        color: var(--color-secondary-text);
        background-color: var(--color-primary-4);
      }
      .turns {
        margin-left: 15px;
      }
    }
  }

  .right {
    grid-area: right;
    justify-self: flex-end;

    .building {
      padding: 5px 15px;
      border-top: 1px solid var(--color-primary-3);
      cursor: default;
    }
  }
}
