:host {
  display: inline-block;
  background-image: url("../../../assets/atlas-icons.png");
  background-repeat: no-repeat;
  &.tint {
    mask: url("../../../assets/atlas-icons.png");
    background-blend-mode: multiply;
  }
}
