.wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20%;
  font-size: 30px;
  left: 0;
  color: white;
  opacity: 0;
  transition: 1s linear;
  pointer-events: none;
  z-index: 50;
  &.isVisible {
    opacity: 1;
    transition: 0s;
  }
  .turn {
    width: 400px;
    margin: 0 auto;
    line-height: 55px;
    background: linear-gradient(
      90deg,
      transparent,
      rgba(84, 140, 255, 0.5),
      rgba(84, 140, 255, 0.5),
      transparent
    );
    &:before,
    &:after {
      height: 2px;
      content: " ";
      display: block;
      background: linear-gradient(
        90deg,
        transparent,
        rgba(84, 140, 255, 1),
        rgba(84, 140, 255, 1),
        transparent
      );
    }
  }
}
