<div class="unit">
  <div class="bars" *ngIf="isDamaged || suppliesDiminishing">
    <app-progress-bar
      class="health"
      *ngIf="isDamaged"
      [total]="100"
      [progress]="unit.health"
    ></app-progress-bar>
  
    <app-progress-bar
      class="supplies"
      *ngIf="suppliesDiminishing"
      [total]="100"
      [progress]="unit.supplies"
    ></app-progress-bar>
  </div>

  <app-icon [name]="unitBackground" [scale]="0.7" [tint]="tint"></app-icon>
  <app-icon [name]="unit.definition.id" [scale]="0.7"></app-icon>

  <i class="moves-available" *ngIf="showMovesIndicator"></i>

  <span class="children-count" *ngIf="unit.children.length > 0">{{
    unit.children.length
  }}</span>
</div>
