<div class="panel panel-top-right-corner" *ngIf="unit">
  <h2>{{ unit.definition.name }}</h2>
  <p>Moves: {{ unit.actionPointsLeft }}</p>
  <p>Power: {{ unit.definition.power }}</p>
  <p>Order: {{ unit.order }}</p>

  <div class="actions">
    <button class="btn-danger" (click)="destroy()">Disband</button>

    <button (click)="setOrder('skip')">Skip move</button>

    <button (click)="setOrder('sleep')">Sleep</button>
  </div>

  <div class="actions">
    <button
      *ngFor="let action of unit.definition.actions"
      [class.disabled]="!unit.canDoAction(action)"
      [appTooltip]="unitActionsTooltipTmpl"
      [tooltipContext]="{ action: action }"
      (click)="unit.doAction(action)"
    >
      {{ getActionName(action) }}
    </button>
  </div>
</div>

<ng-template #unitActionsTooltipTmpl let-action="action">
  <app-unit-action-requirements
    [unit]="unit"
    [action]="action"
  ></app-unit-action-requirements>
</ng-template>
