:host {
  .wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    app-combat-info {
      margin-bottom: -20px;
    }
    .unit-panel {
      max-width: 400px;
      padding: 20px;
      .actions {
        justify-content: flex-start;
        flex-wrap: wrap;
        button {
          margin-right: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
}
