<div class="panel panel-top-right-corner" *ngIf="unit">
  <h2>{{ unit.definition.name }}</h2>
  <p>Moves: {{ unit.actionPointsLeft }}</p>
  <p>Power: {{ unit.definition.power }}</p>
  <p>Order: {{ unit.order }}</p>

  <div class="actions">
    <button class="btn-danger" (click)="destroy()">Disband</button>

    <button (click)="unit.setOrder('skip')">Skip move</button>

    <button (click)="unit.setOrder('sleep')">Sleep</button>

    <button
      *ngFor="let action of unit.definition.actions"
      (click)="unit.doAction(action)"
    >
      {{ getActionName(action) }}
    </button>
  </div>
</div>
