:host {
  display: block;
  border-bottom: 3px solid var(--color-primary-0);
  button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  app-spinner {
    --spinner-size: 20px;
    margin-right: 15px;
  }
}
