:host {
  position: absolute;
  right: 300px;
  bottom: 0;
  button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: none;
    margin: 15px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
  }
}
