.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.menu {
  min-width: 400px;
}

.actions {
  display: flex;
  gap: 10px;
  padding: 20px;
  justify-content: space-between;
}

.item {
  padding: 20px 200px;
  cursor: pointer;
  text-align: center;
}
.item:hover {
  background-color: var(--color-primary-3);
}

.save {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 20px;
}
.save:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.save.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.saveActions {
  display: flex;
  gap: 10px;
}
