.cityView {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  .left, .right {
    background-color: var(--color-primary-1);
    color: white;
    pointer-events: all;
  }
  .left {
    border-right: 3px solid var(--color-primary-0);
  }
  .right {
    border-left: 3px solid var(--color-primary-0);
  }
  .middle {
    flex: 1;
  }
}
.product {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-primary-3);
  &:not(.disabled) {
    cursor: pointer;
    &:hover {
      background-color: var(--color-primary-3);
    }
  }
  &.disabled {
    color: var(--color-secondary-text);
    background-color: var(--color-primary-4);
  }
  .turns {
    margin-left: 15px;
  }
}

.growthBar {
  --progress-bar-color: var(--growth-color);
}
.productionBar {
  --progress-bar-color: var(--production-color);
}
.cultureBar {
  --progress-bar-color: var(--culture-color);
}

.progressBarContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.yield {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-primary-3);
  }
  .label {
    font-weight: bold;
    margin-right: 15px;
  }
}

.cityNameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  .returnBtn {
    pointer-events: all;
    margin-bottom: 30px;
  }
  .cityNameContent {
    background: linear-gradient(90deg, transparent, rgba(20,20,20,0.8), transparent);
  }
  .cityName {
    font-size: 40px;
    color: white;
    font-weight: 300;
    padding: 10px 100px;
  }
  .cityNameBorder {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, rgb(20,20,20), transparent);
  }
}