:host {
  background-color: var(--color-primary-2);
  border-color: var(--color-primary-1);
  padding: 0 20px 35px 20px;
  display: block;
  .sides {
    display: flex;
    justify-content: space-between;
    app-combat-info-side:first-of-type {
      margin-right: 20px;
    }
  }
  .result {
    display: flex;
    justify-content: center;
    .result-inner {
      color: white;
      border-radius: 5px;
      padding: 5px 15px;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 10px;
      &.even {
        background-color: var(--warning-color);
      }
      &.victory {
        background-color: var(--success-color);
      }
      &.defeat {
        background-color: var(--danger-color);
      }
    }
  }
}
