<div>
  <h4>Brush size</h4>
  <app-radio
    [options]="SIZE_OPTIONS"
    [value]="paintData.size"
    (changed)="paintData.size = $event"
  ></app-radio>
</div>

<div>
  <h4>Sea level</h4>
  <app-radio
    [options]="SEA_LEVEL_OPTIONS"
    [value]="paintData.seaLevel"
    (changed)="paintData.seaLevel = $event"
  ></app-radio>
</div>

<div>
  <h4>Land form</h4>
  <app-radio
    [options]="LAND_FORM_OPTIONS"
    [value]="paintData.landForm"
    (changed)="paintData.landForm = $event"
  ></app-radio>
</div>

<div>
  <h4>Climate</h4>
  <app-radio
    [options]="CLIMATE_OPTIONS"
    [value]="paintData.climate"
    (changed)="paintData.climate = $event"
  ></app-radio>
</div>

<div>
  <h4>Forest</h4>
  <app-radio
    [options]="FOREST_OPTIONS"
    [value]="paintData.forest"
    (changed)="paintData.forest = $event"
  ></app-radio>
</div>
