<div class="menu">
  <ng-switch [ngSwitch]="view">
    <app-main-menu-view
      *ngSwitchCase="'main-menu-view'"
      (change)="view = $event"
    ></app-main-menu-view>

    <app-new-game-view
      *ngSwitchCase="'new-game-view'"
      (return)="view = 'main-menu-view'"
    ></app-new-game-view>

    <app-save-view
      *ngSwitchCase="'save-view'"
      (return)="view = 'main-menu-view'"
    ></app-save-view>

    <app-load-view
      *ngSwitchCase="'load-view'"
      (return)="view = 'main-menu-view'"
    ></app-load-view>
  </ng-switch>
</div>
