:host {
  canvas {
    width: 100vw;
    height: 100vh;
  }
  .panel {
    position: absolute;
    &.panel-top-left-corner {
      right: 0;
      bottom: 0;
    }
  }
  .hidden {
    display: none !important;
  }
}
