<app-game-menu *ngIf="uiState.menuVisible$ | async"></app-game-menu>

<app-game-canvas></app-game-canvas>

<ng-container *ngIf="game.started$ | async">
  <app-editor
    class="box-shadowed"
    *ngIf="uiState.editorEnabled$ | async; else gameUiTmpl"
  ></app-editor>
</ng-container>

<ng-template #gameUiTmpl>
  <app-cities-layer *ngIf="game.mapUi.cityLabelsVisible"></app-cities-layer>
  <app-turn-counter></app-turn-counter>

  <app-city-view
    *ngIf="uiState.selectedCity$ | async as city; else standardUiTmpl"
    [city]="city"
  ></app-city-view>
</ng-template>

<ng-template #standardUiTmpl>
  <app-unit-panel></app-unit-panel>
  <app-game-info class="box-shadowed"></app-game-info>
  <app-minimap></app-minimap>
  <app-next-turn-button></app-next-turn-button>
</ng-template>
