:host {
  width: var(--tile-size);
  height: var(--tile-size);
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform-origin: top left;
  pointer-events: none;
  app-unit {
    transform: scale(var(--unit-scale));
    will-change: transform;
  }
}
