:host {
  .option {
    cursor: pointer;
    padding: 3px 10px;
    &:not(.selected):hover {
      background-color: var(--color-primary-2);
    }
    &.selected {
      background-color: var(--color-primary-4);
    }
  }
}
