:host {
  .save {
    cursor: pointer;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    .save-actions {
      > * {
        margin-left: 10px;
      }
    }
    &.selected {
      background-color: grey;
    }
  }
}
