<div class="tile" *ngIf="tile; else selectTilePromptTmpl">
  <div>
    <h4>Sea level</h4>
    <app-radio
      [options]="SEA_LEVEL_OPTIONS"
      [value]="tile.seaLevel"
      (changed)="tile.seaLevel = $event; update()"
    ></app-radio>
  </div>

  <div>
    <h4>Land form</h4>
    <app-radio
      [options]="LAND_FORM_OPTIONS"
      [value]="tile.landForm"
      (changed)="tile.landForm = $event; update()"
    ></app-radio>
  </div>

  <div>
    <h4>Climate</h4>
    <app-radio
      [options]="CLIMATE_OPTIONS"
      [value]="tile.climate"
      (changed)="tile.climate = $event; update()"
    ></app-radio>
  </div>

  <div>
    <h4>Forest</h4>
    <app-radio
      [options]="FOREST_OPTIONS"
      [value]="tile.forest"
      (changed)="tile.forest = $event; update()"
    ></app-radio>
  </div>

  <div>
    <h4>River</h4>
    <app-multiselect
      [options]="RIVER_OPTIONS"
      [value]="tile.riverParts"
      (changed)="tile.riverParts = $event; update()"
    ></app-multiselect>
  </div>
</div>

<ng-template #selectTilePromptTmpl>
  Select the tile to edit.
</ng-template>
