:host {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  .tile {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.3);
    transform-origin: top;
    z-index: -1;
    will-change: transform;
    &.worked {
      background-color: green;
    }
  }
}
