/* You can add global styles to this file, and also import other style files */

@import "~@angular/cdk/overlay-prebuilt.css";

:root {
  --color-primary-0: #9491a6; /* Main Primary color */
  --color-primary-1: #636078;
  --color-primary-2: #514e64;
  --color-primary-3: #3c3a4a;
  --color-primary-4: #22212b;

  --color-secondary-1-0: #886892; /* Main Secondary color (1) */
  --color-secondary-1-1: #6d5973;
  --color-secondary-1-2: #5a485f;
  --color-secondary-1-3: #433546;
  --color-secondary-1-4: #261e29;

  --color-secondary-2-0: #54676c; /* Main Secondary color (2) */
  --color-secondary-2-1: #445559;
  --color-secondary-2-2: #323f42;
  --color-secondary-2-3: #1c2426;
  --color-secondary-2-4: #152024;

  --growth-color: #65ea4b;
  --production-color: #ffb42c;
  --culture-color: #d883ff;
  --public-works-color: #e4d1b8;

  --color-secondary-text: #5f5f5f;
  --color-danger-text: #ff2424;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-weight: normal;
}

h3 {
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}

h4 {
  margin: 0;
  margin-bottom: 10px;
}

button {
  border: 0;
  padding: 5px 15px;
  cursor: pointer;
  border-radius: 4px;
  background-color: var(--color-primary-3);
  color: white;
  outline: none;
  &:hover {
    background-color: var(--color-primary-4);
  }
  &.btn-primary {
    padding: 8px 35px;
    font-size: 18px;
  }
}

.small {
  font-size: 14px;
}

.actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.growth-color {
  color: var(--growth-color);
}

.production-color {
  color: var(--production-color);
}

.culture-color {
  color: var(--culture-color);
}

.public-works-color {
  color: var(--public-works-color);
}

.panel {
  --border-radius: 20px;
  background-color: var(--color-primary-1);
  color: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: inset 0 0 30px 0 var(--color-primary-3),
    0 0 30px 5px var(--color-primary-4);
  border-style: solid;
  border-color: var(--color-primary-0);
  border-width: 3px;
  &.panel-bottom-right-corner {
    border-radius: 0 0 var(--border-radius) 0;
    border-width: 0 3px 3px 0;
  }
  &.panel-bottom-left-corner {
    border-radius: 0 0 0 var(--border-radius);
    border-width: 0 0 3px 3px;
  }
  &.panel-top-right-corner {
    border-radius: 0 var(--border-radius) 0 0;
    border-width: 3px 3px 0 0;
  }
  &.panel-top-left-corner {
    border-radius: var(--border-radius) 0 0 0;
    border-width: 3px 0 0 3px;
  }
}
