<input #uploader type="file" (change)="import($event)" />

<h2>Load the game</h2>

<app-saves-list
  [selectedSave]="saveName"
  (change)="saveName = $event"
></app-saves-list>

<div class="actions">
  <button (click)="return.next()">Back</button>
  <button (click)="uploader.click()">Import</button>
  <button [disabled]="!saveName" (click)="load()">Load</button>
</div>

<app-modal *ngIf="waiting">
  <div class="center">
    <h2>Loading map</h2>
    <app-spinner></app-spinner>
  </div>
</app-modal>
