.combatInfo {
  background-color: var(--color-primary-2);
  border-color: var(--color-primary-1);
  padding: 0 20px 35px 20px;
  display: block;
  color: white;
}
.sides {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}
.combatSide:first-of-type {
  margin-right: 20px;
}
.result {
  display: flex;
  justify-content: center;
}
.resultInner {
  color: white;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}
.resultInner.even {
  background-color: var(--warning-color);
}
.resultInner.victory {
  background-color: var(--success-color);
}
.resultInner.defeat {
  background-color: var(--danger-color);
}
.side {
  --positive-color: var(--growth-color);
  --negative-color: var(--color-danger-text);
}
.invertedColors {
  --positive-color: var(--color-danger-text);
  --negative-color: var(--growth-color);
}
.modifier {
  color: var(--negative-color);
}
.modifier.positive {
  color: var(--positive-color);
}
.sideName {
  text-align: left;
  font-weight: 600;
}
.field {
  display: flex;
  justify-content: space-between;
}
